# cache
.DS_Store
Thumb.db

# log
*.log

# npm
node_modules

# sourcemap
*.map

# fuse box
.fusebox

# sound files
*.aif
*.mid
*.midi
*.mp3
*.ra
*.ram
*.wav

# movie files
*.avi
*.f4v
*.flv
*.m4v
*.mov
*.mp4
*.mpeg
*.mpg
*.rm
*.wmv
